:root {
	--background-color: #ffe5e5;
	--color: #00000062;
	--feedback-bg-color: 90deg, #efd5ff 0%, #515ada 100%;
	--feedback-secondary-color: #ffacac;
	--feedback-primary-color: #636363;
	--feedback-icon-color: #ffffff;
	--feedback-form-input: #f4f4f4;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

main {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 5% 30% 30% 30% 5%;
    gap: 0rem 1rem;
    background: linear-gradient(var(--feedback-bg-color));
    height: 100vh;
}

.nav {
    grid-row-start: 1;
    grid-column-start: 1 / 5;
    display: flex;
    background-color: var(--feedback-primary-color);
    text-align: center;
    height: auto;
    width: 100vw;
 
}
p {
    color: white;
    width: auto;
    font-size: 25px;
    margin: auto;
}
section {
    height: auto;
    grid-row-start: 2;
    border-radius: 20%;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

/* Weather section API */

.weather {
    grid-column-start: 2;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--color);
    
}
input {
    padding: 5px;
    width: 10rem;
}
.weather h1 {
    font-size: 30px;
    color: white;
}
.weather p {
    color: black;
    font-size: 20px;
    padding-top: 5px;
    padding: 5px 10px;
    text-align: justify;
}
.weather img {
    height: 50px;
    width: 50px;
}

/* News section API */

#news {
    grid-column-start: 3;
    color: black;
    padding: 25px;
    background-color: var(--color);

}
#news div {
    display: flex;
    border-bottom: black solid 3px;
    padding: 10px;
}
#news button {
    font-size: 15px;
    padding: 5px 10px;
}
#news h1 {
    font-size: 30px;
    margin: auto;
    color: white;
}
#news #newsTitle {
    padding: 10px;
    line-height: 35px;
    word-spacing: 5px;
}
#news #newsDesc {
    color: black;
    font-size: 20px;
    padding-top: 5px;
    padding: 5px 10px;
    text-align: justify;
}
#news #newsLink {
    padding: 10px 10px;
}

/* Cat GIF section API */

#cat-picture {
    grid-column-start: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--color);

}
#myCatGif {
    max-height: 650px;
    width: auto;
    margin: 10px 0;
    border-radius: 5%;
}
button {
    margin: 10px;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    
    border-radius: 7px;
    border-bottom-left-radius: 0;

    background-color: var(--feedback-secondary-color);
    color: var(--feedback-primary-color);

    transition: all 0.3s;
}
button:hover {
    border-radius: 0px;

    color: var(--feedback-primary-color);
    background-color: var(--background-color);
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    animation: animatedBackground 5s linear infinite alternate;
}
@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}